.container-of-try-these {
  width: 90%;
  margin-bottom: 50px;
  flex-shrink: 0;
}

.text-of-try-these {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}

.ul-list-of-try-these {
  display: flex;
  width: 100%;
  overflow: auto;
  padding: 0px;
  border-radius: 10px;
}

.ul-list-of-try-these::-webkit-scrollbar {
  display: none;
}
